@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="DogFriendly.Web.styles.css" />
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(true)" />
    <script>
        const apiUrl = '@Configuration["ApiUrl"]';
        const firebaseConfig = {
            apiKey: '@Configuration["Firebase:ApiKey"]',
            authDomain: '@Configuration["Firebase:AuthDomain"]',
            projectId: '@Configuration["Firebase:ProjectId"]',
            appId: '@Configuration["Firebase:AppId"]'
        };
    </script>
</head>

<body>
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(true)" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
