@page "/place/delete"
@using DogFriendly.Domain.Entitites
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@inject DogFriendly.Infrastructure.Context.DogFriendlyContext DB
@inject NavigationManager NavigationManager

<PageTitle>Supprimer un lieu</PageTitle>

<NavBar Title="Suppresion d'un lieu" />
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-category">
                        Etes-vous sur de vouloir supprimer ce lieu ?
                    </p>
                </div>
                <div class="card-body">
                    @if (PlaceEntity is null)
                    {
                        <p><em>Chargement du lieu ...</em></p>
                    }
                    else
                    {
                        <dl class="row">
                            <dt class="col-sm-2">Nom</dt>
                            <dd class="col-sm-10">@PlaceEntity.Name</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Type de lieu</dt>
                            <dd class="col-sm-10">@PlaceEntity.PlaceType.Name</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Equipements</dt>
                            <dd class="col-sm-10">
                                <ul>
                                    @foreach (var placeAmenity in PlaceEntity.PlaceAmenities)
                                    {
                                        <li> @placeAmenity.Amenity.Name </li>
                                    }
                                </ul>
                            </dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Adresse</dt>
                            <dd class="col-sm-10">@PlaceEntity.Address</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Ville</dt>
                            <dd class="col-sm-10">@PlaceEntity.City</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Pays</dt>
                            <dd class="col-sm-10">@PlaceEntity.Country</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Description</dt>
                            <dd class="col-sm-10">@PlaceEntity.Description</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Email</dt>
                            <dd class="col-sm-10">@PlaceEntity.Email</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Latitude</dt>
                            <dd class="col-sm-10">@PlaceEntity.Latitude</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Longitude</dt>
                            <dd class="col-sm-10">@PlaceEntity.Longitude</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Horaires</dt>
                            <dd class="col-sm-10">@PlaceEntity.OpeningHours</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Téléphone</dt>
                            <dd class="col-sm-10">@PlaceEntity.Phone</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Code postal</dt>
                            <dd class="col-sm-10">@PlaceEntity.PostalCode</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Site web</dt>
                            <dd class="col-sm-10">@PlaceEntity.Website</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Créé le</dt>
                            <dd class="col-sm-10">@PlaceEntity.CreatedAt</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Créé par</dt>
                            <dd class="col-sm-10">@PlaceEntity.CreatedBy</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Modifié le</dt>
                            <dd class="col-sm-10">@PlaceEntity.UpdatedAt</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Modifié par</dt>
                            <dd class="col-sm-10">@PlaceEntity.UpdatedBy</dd>
                        </dl>
                        <EditForm method="post" Model="PlaceEntity" OnValidSubmit="DeletePlaceEntity" FormName="delete" Enhance>
                            <button type="submit" class="btn btn-danger" disabled="@(PlaceEntity is null)">Supprimer</button> |
                            <a href="/places">Liste de lieux</a>
                        </EditForm>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    /// <summary>
    /// Entity of the place to delete
    /// </summary>
    protected PlaceEntity? PlaceEntity;

    /// <summary>
    /// Id of the place to delete
    /// </summary>
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    /// <summary>
    /// Initialize the component
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        PlaceEntity = await DB.Places
            .Include(p => p.PlaceAmenities)
            .ThenInclude(p => p.Amenity)
            .Include(p => p.PlaceType)
            .FirstOrDefaultAsync(m => m.Id == Id);

        if (PlaceEntity is null)
        {
            NavigationManager.NavigateTo("/places");
        }
    }

    /// <summary>
    /// Delete the place entity
    /// </summary>
    /// <returns></returns>
    public async Task DeletePlaceEntity()
    {
        var placeFavorites = await DB.PlaceFavorites
            .Where(x => x.PlaceId == PlaceEntity.Id)
            .ToListAsync();
        if (placeFavorites.Count > 0)
        {
            DB.PlaceFavorites.RemoveRange(placeFavorites);
        }

        var placeAmenities = await DB.PlaceAmenities
            .Where(p => p.PlaceId == PlaceEntity.Id)
            .ToListAsync();
        if (placeAmenities.Count > 0)
        {
            DB.PlaceAmenities.RemoveRange(placeAmenities);
        }

        var reviews = await DB.Reviews
            .Where(x => x.PlaceId == PlaceEntity.Id)
            .ToListAsync();
        if (reviews.Count > 0)
        {
            DB.Reviews.RemoveRange(reviews);
        }

        DB.Places.Remove(PlaceEntity!);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/places");
    }
}
