@page "/user/delete"
@using DogFriendly.Domain.Entitites
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@inject DogFriendly.Infrastructure.Context.DogFriendlyContext DB
@inject NavigationManager NavigationManager

<PageTitle>Supprimer l'utilisateur</PageTitle>

<NavBar Title="Suppresion d'un utilisateur" />
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-category">
                        Etes-vous sur de vouloir supprimer cet utilisateur ?
                    </p>
                </div>
                <div class="card-body">
                    @if (UserEntity is null)
                    {
                        <p><em>Chargement de l'utilisateur ...</em></p>
                    }
                    else
                    {
                        <dl class="row">
                            <dt class="col-sm-2">Nom</dt>
                            <dd class="col-sm-10">@UserEntity.Name</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Email</dt>
                            <dd class="col-sm-10">@UserEntity.Email</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Administrateur</dt>
                            <dd class="col-sm-10">@UserEntity.IsAdmin</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Créé le</dt>
                            <dd class="col-sm-10">@UserEntity.CreatedAt</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Créé par</dt>
                            <dd class="col-sm-10">@UserEntity.CreatedBy</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Modifié le</dt>
                            <dd class="col-sm-10">@UserEntity.UpdatedAt</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-2">Modifié par</dt>
                            <dd class="col-sm-10">@UserEntity.UpdatedBy</dd>
                        </dl>
                        <EditForm method="post" Model="UserEntity" OnValidSubmit="DeleteUserEntity" FormName="delete" Enhance>
                            <button type="submit" class="btn btn-danger" disabled="@(UserEntity is null)">Supprimer</button> |
                            <a href="/users">Liste des utilisateurs</a>
                        </EditForm>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    /// <summary>
    /// Entity of the user to delete.
    /// </summary>
    protected UserEntity? UserEntity;

    /// <summary>
    /// Id of the user to delete.
    /// </summary>
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    /// <summary>
    /// Initialize the component.
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        UserEntity = await DB.Users.FirstOrDefaultAsync(m => m.Id == Id);

        if (UserEntity is null)
        {
            NavigationManager.NavigateTo("/users");
        }
    }

    /// <summary>
    /// Delete the user entity.
    /// </summary>
    /// <returns></returns>
    public async Task DeleteUserEntity()
    {
        DB.Users.Remove(UserEntity!);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/users");
    }
}
