@page "/reviews"

<PageTitle>Mes avis</PageTitle>

<!-- Main Content -->
<main class="container py-3">
    <div class="row">
        <section class="col-sm-12 col-md-10 col-lg-10 mx-auto">
            <div class="card reviews-details">
                <div class="card-body">
                    <a href="/">
                        <i class="fa fa-times position-absolute popin-close" />
                    </a>
                    <h2>Mes avis</h2>
                    <div class="result-list">
                        @if (UserReviews?.Any() != true)
                        {
                            <p>Vous n'avez aucun avis.</p>
                        }
                        else
                        {
                            @foreach (var review in UserReviews)
                            {
                                <div class="row review-item mb-1">
                                    <section class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="row media">
                                            <div class="col-4 col-sm-12 col-md-12 col-lg-4 result-image bg-secondary mr-1" style="width: 60px;height: 60px;padding: 0;">
                                                <img src="@(Configuration["PhotoUrl"])width=60,height=60,quality=75,fit=cover/@(review.Place.Photo)" alt="@review.Place.Name" />
                                            </div>
                                            <div class="col-8 col-sm-12 col-md-12 col-lg-8 media-body">
                                                <h5 class="mt-0">@review.Place.Name</h5>
                                                <p><Rating Value="review.Place.Rating" /></p>
                                                <p class="text-muted">@review.Place.Description</p>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="col-sm-8 col-md-8 col-lg-8">
                                        <div class="card review-details">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p class="card-text">Date : @review.Review.CreatedAt.ToString("dd/MM/yyyy")</p>
                                                    <nav>
                                                        <!--button class="btn btn-outline-dark">Modifier</button-->
                                                        <button class="btn btn-outline-dark"
                                                                @onclick="() => OnReviewDelete(review)">
                                                            Supprimer
                                                        </button>
                                                    </nav>
                                                </div>
                                                <p><Rating Value="review.Review.Rating" /></p>
                                                <p class="card-text">
                                                    @review.Review.Comment
                                                </p>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>